
.Container
{
    background-color: black;
    overflow: hidden;
    height: 100%;
}

.ScrollContainer
{
    width: 3000px;
    display: flex;
    position: relative;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.PinsContainer
{
    height: 300px;
    width: 709.7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 1%;
    margin-left: 1.3%;
}

.Tile-sm
{
    width: 130px;
    height: 130px;
    margin-right: 6px;
    margin-top: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.TileImg-sm
{
    width: 50%;
    height: 50%;
}

.TileImg-Normal
{
    width: 100%;
    height: 100%;
}

.Tile-sm > p
{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    opacity: 0.7;
    position: absolute;
    left: 7px;
    bottom: -9px;
}

.HomeContainer
{
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-rows: 33% 33% 33%;
    gap: 0px;
    align-content: stretch;
    width: 809.7px;
    display: grid;
    margin-top: 1.05%  
}

.HomeUser
{
    margin-top: 6px;
    background-color: #0a3596;    
    width: 132px;
    height: 402px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 0;
}

.HomeUserProfilePic
{
    width: 132px;
    height: 132px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.HomeUser > p
{
    margin: auto;
    margin-left: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;
    opacity: 0.7;
    display: inherit;
}
.HomeGamerscoreContainer
{
    margin: auto;
    margin-left: 6px;
    margin-top: 3px;
}

.HomeGamerscoreContainer > img
{
    width: 16px;
    height: 16px;
}

.HomeGamerscoreContainer > p
{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    align-self:  center;
    color: white;
    opacity: 0.7;
    margin: auto;
    margin-left: 6px;
    position: relative;
    top: -3px;
}

.MailContainer
{
    margin-left: 6px;
}

.MailContainer img
{
    width: 16px;
    height: 16px;
}

.MailContainer > p
{
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    position: relative;
    top: -2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    align-self:  center;
    color: white;
    opacity: 0.7;
}

.OnlineFriendsContainer
{
    margin-left: 6px;
    margin-top: 70%;
}

.OnlineFriendsContainer > p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    align-self:  center;
    color: white;
    opacity: 0.7;
    margin: auto;
}

.OnlineFriendsContainer > p:first-child
{
    font-size: 40px;
}

.ActiveGameContainer
{        
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start:2 ;
    grid-column-end: 5;
    margin-top: 7px;
    margin-left: 2px;
}

.ActiveGameContainer > img
{
    width: 554px;
    height: 265px;
}

.ActiveGameContainer > p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    width: fit-content;
    align-self:  center;
    color: white;
    opacity: 0.7;
    margin: auto;
    position: relative;
    bottom: 33.5%;
    left: -21.6%;
    background-color: black ;
    padding: 1% 0 1.2% 3%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.HomeTile-sm
{
    margin: auto;
    height: 90%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.HomeTile-sm > img
{
    width: 60px;
    height: 60px;
}

.HomeTile-sm > p
{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    opacity: 0.7;
    position: absolute;
    bottom: -8px;
    left: 5px;
}

.NewOnXboxContainer
{
    margin-left: 60px;
    margin-top: 18px;
    width: 270px;
}

.NewOnXboxContainer > p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 12px;
    align-self:  center;
    color: white;
    opacity: 0.7;
    margin: auto;
}

.NewOnXboxTile
{
    width: 100%;
    height: 132px;
    margin-top: 4px;
}

.NewOnXboxTile > p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    align-self:  center;
    color: white;
    opacity: 0.5;
    margin: auto;
    margin-top: -33px;
    margin-left: 0px;
    background-color: black;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    
}

.StoreContainer
{
    width: 1020px;
    height: 405px;
    margin-left: 45px;
    margin-top: 37px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80% 20%;
}

.StoreItem
{
    background-color: #151515;
    width: 250px;
    margin-right: 0;
}

.StoreItem > img
{
    height: 70%;
    width: 100%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.StoreItem > p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    bottom: -35px;
    left: 15px;
    color: white;
    opacity: 0.5;
    margin: auto;
}

.StoreItemAppsContainer
{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.StoreItemTile
{
    width: 125px;
    height: 113px;
    margin-right: 0px;
    margin-top: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.StoreSearchBar
{
    grid-row: 2; 
    grid-column: 1 / 5;
    display: block;
    position: relative;
}

.StoreSearchBar > svg
{
    position: relative;
    width: 25px;
    height: 25px;
    top: 55%;
    left: 1%;
}

.StoreSearchBar > input
{
    background-color: #d0d0d0;
    border: none;
    width: 94.5%;
    height: 35px;
    margin-top: 10px;
    padding-left: 5%;
    font-weight: bold;
    font-size: small;
}

.StoreSearchBarPoweredText
{
    text-align: end;
    margin-top: 5px;
    margin-right: 4px;
}

.StoreSearchBarPoweredText > p
{
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: 600;
    color: white;
    opacity: 0.5;
}

.StoreSearchBarBingText
{
    opacity: 1;
}

.SearchStoreBingLogo
{
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}

.SelectedTile:hover
{
    border: solid white 2px;   
}

nav
{
    margin-top: 2%;
    margin-left: 5%;
}

a
{
    text-decoration: none;
    font-size: xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgrey;
    opacity: 0.4;
}

a:not(:first-of-type)
{
    margin-left: 5%;
}

a:hover
{
    color: white;
    opacity: 0.8;
}