
.TopContainer
{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    position: relative;
}

.FloatBox
{
    width: 48px;
    height: 48px;
    margin: 0px 2px 0 4px;
    float: left;
    display: table-cell;
    margin-top: 2.5%;
}

.TopNotification
{
    background-color: #0f338c;
    margin-left: 5%;
}

.TopUserBottomBar
{
    width: inherit;
    height: 10%;
    background-color: #0f338c;
    position: absolute;
    bottom: 0;
}

.NotificationCount
{
    background-color: #0f338c;
    width: 45%;
    height: 45%;
    z-index: 2;
    position: relative;

}

.XboxLogo
{
    float: right;
    margin-right: 5%;
}

Img
{
    width: inherit;
    height: inherit;
    float: left;
    z-index: 1;
}