
.TopContainer
{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    position: relative;
}

.FloatBox
{
    width: 48px;
    height: 48px;
    margin: 0px 2px 0 4px;
    float: left;
    display: table-cell;
    margin-top: 2.5%;
}

.TopNotification
{
    min-width: 48px;
    background-color: #0f338c;
    margin-left: 5%;
    position: relative;
}

.NotificationCount
{
    background-color: #0f338c;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.NotificationCount p
{
    color: white;    
    display: table-cell;
    position: absolute;
    left: 30%;
    top: -50%;
}

.TopNotificationImg
{
    width: 70%;
    height: 60%;
    position: absolute;
    top: 18%;
    left: 15%;
}

.TopUserBottomBar
{
    width: inherit;
    height: 10%;
    background-color: #0f338c;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.XboxLogo
{
    float: right;
    margin-right: 5%;
}

Img
{
    width: inherit;
    height: inherit;
    float: left;
    position: relative;
    z-index: 1;
}